{% extends "base.html" %}

{% load static %}

{% block link %}
     <link rel = "stylesheet" href="{% static 'css/login-register.css' %}" >
{% endblock %}

{% block content %}
<div class="login_block">
    <div class="container">
        <div class="block_login">

            {% if validlink %}
                <form action="" method="post">
                    {% csrf_token %}
                    <table class="table">
                        <tr>
                            <td>
                                <p>Пожалуйста, введите (и подтвердите) свой новый пароль.</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="color: red">{{ form.new_password1.errors }}</p><br>
                                <label for="id_new_password1">Новый пароль:</label><br>
                            {{ form.new_password1 }}</td>
                        </tr>
                        <tr>
                            <td>
                                <p style="color: red">{{ form.new_password2.errors }}</p><br>
                                <label for="id_new_password2">Подтвердите Пароль:</label><br>
                                {{ form.new_password2 }}</td>
                        </tr>
                        <tr>
                            <td><input type="submit" value="Изменить пароль" class="sumbit_link" /></td>
                        </tr>
                    </table>
                </form>
            {% else %}
                <table class="table">
                    <tr>
                        <td>
                            <h1>Сбой пароля</h1>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                Ссылка для сброса пароля была недействительной,
                                возможно, потому что она уже использовалась.
                                Пожалуйста, запросите новый пароль для сброса.
                            </p>
                        </td>
                    </tr>
                </table>


            {% endif %}
        </div>
    </div>
</div>


{% endblock %}