{% extends "base.html" %}
{% load static %}

{% block link %}
     <link rel = "stylesheet" href="{% static 'css/login-register.css' %}" >
{% endblock %}

{% block content %}

<div class="login_block">
    <div class="container">
        <div class="block_login">
            <table class="table">
                <tr>
                    <td>
                        <h1 class="h1" style="color: #4CD984">Пароль был изменен!</h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="{% url 'login' %}" style="font-size: 22px">войти снова?</a></p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}